<h1>Title: <%= @play.title %></h1>
<p>category_id: <%= @play.category.name %></p>
<p><%= @play.description %></p>
<h4><%= @play.director %></h4>

<% if user_signed_in? %>
	<% if @play.user_id == current_user.id %>
		<%= link_to 'Edit', edit_play_path %>
		<%= link_to 'Delete', @play, method: :delete, data:{confirm: 'are you sure?'} %>
	<% end %>
<% end %>

<div class="row">
	<div class="col-md-12">
		<h1>Reviews</h1>
		<%= render @play.reviews %>
		<div>
			<%= link_to 'add reviews', new_play_review_path(@play)%>
		</div>
	</div>
</div>
